// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Open Sans', sans-serif;
@secondfont: 'Open Sans', sans-serif;
@black: #000000;
@white: #ffffff;
@softblue: #66C5E0;
@softbluehover: #2A9CBD;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 85vh;
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.top-header {
    padding: 1rem;
    padding-bottom: .5rem;

    & a {
        color: @softblue;
        font-weight: 600;

        &:hover {
            color: @softbluehover;
        }
    }

    & .top-header-left {
        & a {
            margin-right: 5px;
        }
    }

    & .top-header-right {
        text-align: right;

        & .social-header {
            display: inline-block;
            margin-right: 1rem;
            letter-spacing: 5px;
        }
    }
}

.the-logo {
    & .logo-container {
        text-align: center;
        padding-bottom: 0.5rem;

        & .navbar-brand {
            margin-right: 0;
        }
    }
}

.the-navbar .navbar-nav .nav-item .nav-link {
    margin: 0 4rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.menu-container-hidden {
    display: none;
}

#menuBtn {
    background: none;
    border: 0;
    font-size: 1.5rem;

    &:hover {
        color: @softblue;
    }

    &:focus {
       outline: none; 
    }
}

.menu-container {
    padding: 1rem 0;

    & a {
        color: rgba(0,0,0,.5);

        &:hover {
            color: rgba(0,0,0,.7);
        }
    }

    & .mobile-navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.1rem;
    }

    & .menu-mobile-lang {
        padding: .5rem 1rem;
        font-size: 1.1rem;
    }

    & .menu-mobile-login {
        padding: .5rem 1rem;
        font-size: 1.1rem;
    }

    & .social-header {
        padding: .5rem 1rem;
        font-size: 1.3rem;

        & a {
            margin-right: 15px;
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */