/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 85vh;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.top-header {
  padding: 1rem;
  padding-bottom: 0.5rem;
}
.top-header a {
  color: #66C5E0;
  font-weight: 600;
}
.top-header a:hover {
  color: #2A9CBD;
}
.top-header .top-header-left a {
  margin-right: 5px;
}
.top-header .top-header-right {
  text-align: right;
}
.top-header .top-header-right .social-header {
  display: inline-block;
  margin-right: 1rem;
  letter-spacing: 5px;
}
.the-logo .logo-container {
  text-align: center;
  padding-bottom: 0.5rem;
}
.the-logo .logo-container .navbar-brand {
  margin-right: 0;
}
.the-navbar .navbar-nav .nav-item .nav-link {
  margin: 0 4rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.menu-container-hidden {
  display: none;
}
#menuBtn {
  background: none;
  border: 0;
  font-size: 1.5rem;
}
#menuBtn:hover {
  color: #66C5E0;
}
#menuBtn:focus {
  outline: none;
}
.menu-container {
  padding: 1rem 0;
}
.menu-container a {
  color: rgba(0, 0, 0, 0.5);
}
.menu-container a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.menu-container .mobile-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}
.menu-container .menu-mobile-lang {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.menu-container .menu-mobile-login {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
.menu-container .social-header {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
}
.menu-container .social-header a {
  margin-right: 15px;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background: #66C5E0;
  color: #ffffff;
  padding: 4rem 1rem;
  padding-bottom: 6rem;
}
.the-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.the-footer .footer-item {
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.the-footer .footer-item img {
  max-width: 200px !important;
  margin-bottom: 1.3rem;
}
.the-footer .footer-item .widget_custom_social_widget a {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.the-footer .footer-item .widgettitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.the-footer .footer-item a {
  color: #ffffff;
}
.the-footer .footer-item .widget_nav_menu .menu {
  list-style: none;
}
.the-footer .footer-item .widget_nav_menu .menu .nav-item .nav-link {
  color: #ffffff;
  font-size: 0.8rem;
  padding-left: 0;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.home-main-section {
  padding-top: 5rem;
}
.home-main-content {
  padding-left: 18vw !important;
  padding-right: 5vw !important;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}
.home-main-content strong {
  font-weight: 700;
}
.home-main-content img {
  margin-bottom: 2rem;
}
.home-main-content h2 {
  color: #66C5E0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.home-locations-section {
  padding: 4rem 1rem;
  padding-top: 2rem;
}
.title-container {
  text-align: center;
  padding: 4rem 11vw;
  padding-top: 2rem;
  text-transform: uppercase;
}
.title-container h2 {
  color: #66C5E0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.home-location-tax {
  margin-bottom: 2rem;
}
.home-location-tax .wrapper {
  position: relative;
}
.home-location-tax .wrapper img {
  border-radius: 55px;
}
.home-location-tax .home-location-tax-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 55px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-location-tax .home-location-tax-wrap h2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 22%;
  font-size: 1.5rem;
  font-weight: 700;
}
.home-location-tax .home-location-tax-wrap:hover {
  background: rgba(0, 0, 0, 0.3);
}
.home-services-section {
  background: #F6F6F6;
  padding: 4rem 1rem;
  padding-top: 2rem;
}
.home-services-section .home-service-item {
  text-align: center;
  padding: 0 1rem;
}
.home-services-section .home-service-item h3 {
  color: #66C5E0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.7rem;
  margin-top: 1.2rem;
}
.home-contact-section {
  padding: 4rem 1rem;
}
.home-contact-section .home-contact-preview {
  color: #66C5E0;
  font-size: 1.5rem;
  line-height: 2rem;
}
.home-contact-section .home-contact-preview img {
  margin-bottom: 1.2rem;
}
.home-contact-section .home-contact-item {
  font-size: 1rem;
  line-height: 1.8rem;
}
.home-contact-section .home-contact-item h4 {
  color: #66C5E0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.home-contact-section .home-contact-item a {
  color: black;
}
.home-contact-section .home-contact-item a .fa {
  color: #66C5E0;
  margin-right: 5px;
}
.home-contact-section .home-contact-item a:hover {
  color: #2A9CBD;
}
.home-contact-section .home-contact-item h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.main-contact-map-container {
  padding-bottom: 6rem;
}
.main-contact-map-container .embed-responsive-special {
  max-height: 540px;
}
